# ═══════════════════════════════════════════════════════════════
# NAPPIER XMD - Environment Configuration
# © 2026 Nappier | All Rights Reserved
# ═══════════════════════════════════════════════════════════════

# SESSION
SESSION_SECRET=nappier-xmd-secret-2026

# DATABASE
MONGODB_URI=
DATABASE_URL=

# AUTO FEATURES
AUTO_READ_MESSAGES=off
AUTO_REACT=off
AUTO_BIO=false
AUTO_STATUS=false
REJECT_CALLS=false

# GROUP SETTINGS
ANTILINK_ENABLED=false
ANTISPAM_ENABLED=true
MAX_WARNS=3

# API KEYS
OPENAI_API_KEY=
WEATHER_API_KEY=
RAPIDAPI_KEY=

# PORT
PORT=3000
